* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background: url('images/pexels-annam-w-1047442\ \(1\).jpg') bottom center;
    background-size: cover;
}

.bgimage img {
    height: 50vw;
    filter: blur(3px);
    width: 100%;
}



.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

}

.key {
    border: .4rem solid rgb(255, 255, 255);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgba(138, 35, 35, 0.4);
    text-shadow: 0 0 .5rem black;
    box-shadow: 0 0 1rem rgb(255, 255, 255);
}

kbd {
    display: block;
    font-size: 4rem;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1.1rem;
    color: #ffc600;
    font-weight: bold;
}